body {
    background-image: url("Imagens/fundo.jpg");
    font-family: "Fredericka the Great", cursive;
    text-align: center;
    margin: 30px;
    font-size: 14px;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0;
}

#titulo {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-family: 'Palette Mosaic', cursive;
    font-size: 4vw;
    height: fit-content;
    padding: 15px;
}

#container-info {
    background-color: rgba(255,255,255,0.8);
    justify-content: center;
    display:flex;
    padding: 28px;
}

#container-info img {
    width: 50%;
}

.quest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explicando{
    display: flex;
    flex-direction: column;
}

.jogo {
    font-size:35px;
    text-align: left;
    padding: 15px;
    align-self: center;
}

.instrucoes {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 25px;
    height: fit-content;
    padding: 15px;
}

button {
    color: rgb(255, 255, 255);
    padding: 25px;
    font-family:'Fredericka the Great', cursive;
    font-size: 25px;
    background-color: rgb(255, 111, 0);
    border-radius: 25px;
}

button:hover {
    color: rgb(240, 133, 50);
    background-color: rgb(250, 208, 176)
}

img {
    object-fit: contain;
}

footer{
    background-color: rgb(214, 157, 64);
    color: black;
    direction: rtl;
    padding: 1px;
    font-size: 17px;
    text-align: right;
}

#escolha{
    background-color: rgb(214, 157, 64);
    color: black;
    padding: 1px;
    font-size: 25px;
    text-align: center;
}

#personagens {
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

#personagens h1 {
    margin: 20px 0;
}

#personagens div {
    flex: 1;
}

#personagens p {
    margin: 20px;
}

#personagens img {
    max-width: 100%;
    object-fit: contain;
}

p {
    font-size: 25px;
}

@media screen and (max-width: 700px) {
    #personagens {
        flex-direction: column;
    }

    #personagens img {
        width: 50vw;
    }
}