/*para todas as telas*/

body {
    background-image: url("fundo.jpg");
    font-family: "Fredericka the Great", cursive;
    text-align: center;
    margin: 30px;
    font-size: 14px;
}

/*relacionado ao start*/
.jogo {
    font-size:35px;
    text-align: left;
    padding: 15px;
    align-self: center;
}

.instrucoes {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 25px;
    height: fit-content;
    padding: 15px;
}

/*relacionado ao título do jogo que se repete em todas as telas*/
h1 {
    padding: 0;
    border: 0;
    margin: 0;
}

#titulo {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    font-family: 'Palette Mosaic', cursive;
    font-size: 4vw;
    height: fit-content;
    padding: 15px;
}

/*relacionado aos personagens*/
#container-info {
    background-color: rgba(255,255,255,0.8);
    justify-content: center;
    display:flex;
    padding: 28px;
}

p {
    font-size: 25px;
}

/*relacionado aos personagens*/
#escolha{
    background-color: rgb(214, 157, 64);
    color: black;
    padding: 1px;
    font-size: 25px;
    text-align: center;
}

#personagens {
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

#personagens h1 {
    margin: 20px 0;
}

#personagens div {
    flex: 1;
}

#personagens p {
    margin: 20px;
}

#personagens img {
    max-width: 100%;
    object-fit: contain;
}

.quest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explicando{
    display: flex;
    flex-direction: column;
}

/*para os botões*/
button {
    color: rgb(255, 255, 255);
    padding: 25px;
    font-family:'Fredericka the Great', cursive;
    font-size: 25px;
    background-color: rgb(255, 111, 0);
    border-radius: 25px;
}

button:hover {
    color: rgb(240, 133, 50);
    background-color: rgb(250, 208, 176)
}

/*para as imagens*/
img {
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
}

img.destaque {
    max-width: 60%;
}

/*para o rodapé*/
footer{
    background-color: rgb(214, 157, 64);
    color: black;
    direction: rtl;
    padding: 1px;
    font-size: 17px;
    text-align: right;
}


/*responsividade*/
@media screen and (max-width: 700px) {
    p, h3, footer, button {
        font-size: 5vw;
    }

    #personagens {
        flex-direction: column;
    }

    #container-info {
        display: block;
    }
}